.items-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.list-items {
  background-color: #a6efb4;
  width: 20%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.card-product {
  list-style: none;
}
